<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Calculator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static "css/calc.css" %}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  			crossorigin="anonymous">
  	</script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<p class="lead">Guessing Game</p>
            <p class="lead">{{dados}}</p>
			<hr class="my-4">
		</div>
        
        <table>
            <tr>
                <td>
		        <button_reset id="reset" class="btn btn-danger">Reset</button_reset>
                </td>
            </tr>
        </table>

		<textarea id="resultArea" readonly rows="3" cols="21"></textarea>

		<table>
			<tr>
				<td><button id="num7" class="btn btn-default">7</button></td>
				<td><button id="num8" class="btn btn-default">8</button></td>
				<td><button id="num9" class="btn btn-default">9</button></td>
			</tr>

			<tr>
				<td><button id="num4" class="btn btn-default">4</button></td>
				<td><button id="num5" class="btn btn-default">5</button></td>
				<td><button id="num6" class="btn btn-default">6</button></td>
			</tr>

			<tr>
				<td><button id="num1" class="btn btn-default">1</button></td>
				<td><button id="num2" class="btn btn-default">2</button></td>
				<td><button id="num3" class="btn btn-default">3</button></td>
			</tr>

			<tr>
				<td><button id="clrTxt" class="btn btn-default">&#9746;</button></td>
				<td><button id="num0" class="btn btn-default">0</button></td>
				<td><button id="ok" class="btn btn-default">Ok</button></td>
			</tr>
		</table>
        <form name="form" id ="form" action="/" method="post">{% csrf_token %}
            <div>
                <input type="hidden" id="dados" name="dados" value="{{dados}}"></input>
            </div>
        </form>

	</div>
    <script type="text/javascript" src="{% static "js/calc.js" %}"></script>
    <script type="text/javascript">
        makeEducatedGuess({{guess}});
    </script>
</body>
</html>
